@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
/* 
- Mobile: 375px - Desktop: 1440px (My laptop 1920px)
500px, 600px, 700px, 800px, 1000px
*/
/* Global Mobile************************/
:root {
  /* Primary */
  --bright-blue: hsl(220, 98%, 61%); /* Primary */
  --check-background: linear-gradient(
    to bottom,
    hsl(192, 100%, 67%),
    hsl(280, 87%, 65%)
  ); /* Primary */
  /* Neutral Light Theme */
  --very-light-gray: hsl(0, 0%, 98%); /* Neutral Light Theme */
  --very-light-grayish-blue: hsl(236, 33%, 92%); /* Neutral Light Theme */
  --light-grayish-blue: hsl(233, 11%, 84%); /* Neutral Light Theme */
  --dark-grayish-blue: hsl(236, 9%, 61%); /* Neutral Light Theme */
  --very-dark-grayish-blue: hsl(235, 19%, 35%); /* Neutral Light Theme */
  /* Neutral Dark Theme */
  --very-dark-blue: hsl(235, 21%, 11%); /* Neutral Dark Theme */
  --very-dark-desaturated-blue: hsl(235, 24%, 19%); /* Neutral Dark Theme */
  --light-grayish-blue: hsl(234, 39%, 85%); /* Neutral Dark Theme */
  --light-grayish-blue-hover: hsl(236, 33%, 92%); /* Neutral Dark Theme */
  --dark-grayish-blue: hsl(234, 11%, 52%); /* Neutral Dark Theme */
  --very-dark-grayish-blue: hsl(233, 14%, 35%); /* Neutral Dark Theme */
  --very-dark-grayish-blue: hsl(237, 14%, 26%); /* Neutral Dark Theme */
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  utline: 1px solid black;
}
html {
  width: 100%;
  min-height: 750px;
}
body {
  width: 100%;
  min-height: 750px;
}
#root{
  width: 100%;
  min-height: 750px;
  font-family: "Josefin Sans", "Trebuchet MS";
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.lite-body {
  background-image: url("/public/images/bg-mobile-light.jpg");
  background-size: 100% 300px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--very-light-gray);
}
.dark-body {
  background-image: url("/public/images/bg-mobile-dark.jpg");
  background-size: 100% 300px;
  background-repeat: no-repeat;
  background-position: top;
  background-color: var(--very-dark-blue);
}
main {
  width: 375px;
  min-height: 750px;
  display: grid;
  grid-template: 5rem 5rem auto 5rem 5rem / auto;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four"
    "five";
  padding: 1rem;
  gap: 0.2rem;
}
/* Header ************************/
header {
  grid-area: one;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 1.5rem 0rem 0.5rem 0rem;
  width: 100%;
  color: var(--very-light-gray);
}
h1 {
  letter-spacing: 0.5rem;
}
#head-div {
  width: 10%;
  height: 2rem;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
#head-div:hover {
  cursor: pointer;
}
.lite-icon-moon {
  background-image: url("/public/images/icon-moon.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.dark-icon-sun {
  background-image: url("/public/images/icon-sun.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
/* Menu ************************/
menu {
  grid-area: two;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.2rem;
  padding: 0.5rem;
  margin: 0.5rem auto;
  width: 100%;
}
.lite-menu {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}
.dark-menu {
  background-color: var(--very-dark-grayish-blue);
  color: var(--very-light-grayish-blue);
}
#menu-cir {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  font-size: 1rem;
}
.lite-menu-cir {
  border: 0.1px solid var(--dark-grayish-blue);
}
.dark-menu-cir {
  border: 0.1px solid var(--very-light-grayish-blue);
}
#menu-inp {
  width: 85%;
  height: 2rem;
  font-size: 1rem;
  border: none;
}
.lite-menu-inp::placeholder {
  color: var(--very-dark-desaturated-blue);
}
.dark-menu-inp::placeholder {
  color: var(--very-light-grayish-blue);
}
.lite-menu-inp {
  background-color: var(--very-light-gray);
  color: var(--very-dark-blue);
}
.dark-menu-inp {
  background-color: var(--very-dark-grayish-blue);
  color: var(--very-light-grayish-blue);
}
/* Section ************************/
section {
  grid-area: three;
  display: flex;
  flex-flow: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
#sec-div {
  width: 100%;
}
article {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  gap: 0.2rem;
  border-radius: 0.5rem 0.5rem 0rem 0rem;
  width: 100%;
  height: 4rem;
  padding: 0.5rem;
}
.lite-article {
  border: 0.1px solid var(--very-dark-blue);
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
}
.dark-article {
  border: 0.1px solid var(--very-light-gray);
  background-color: var(--very-dark-grayish-blue);
  color: var(--very-light-grayish-blue);
}
.art-div-check {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.art-div-check:hover {
  cursor: pointer;
}
.icon-check {
  background: var(--check-background);
  width: 90%;
  height: 90%;
  object-fit: contain;
  border-radius: 50%;
}
h2 {
  font-size: 1rem;
  width: 80%;
  height: 3rem;
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  align-items: center;
}
h2:hover {
  cursor: pointer;
}
.art-div-cross {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.art-div-cross:hover {
  cursor: pointer;
}
.lite-icon-cross {
  background-image: url("/public/images/icon-cross-dark.svg");
  background-repeat: no-repeat;
  background-size: contain;
}
.dark-icon-cross {
  background-image: url("/public/images/icon-cross-lite.png");
  background-repeat: no-repeat;
  background-size: contain;
}
.art-div-edit {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}
.art-div-edit:hover {
  cursor: pointer;
}
.lite-icon-edit {
  background-image: url("/public/images/icon-edit-lite.png");
  background-repeat: no-repeat;
  background-size: 75%;
}
.dark-icon-edit {
  background-image: url("/public/images/icon-edit-dark.png");
  background-repeat: no-repeat;
  background-size: 75%;
}
aside {
  width: 100%;
  height: 4rem;
  border-radius: 0rem 0rem 0.5rem 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem;
  font-size: 0.9rem;
}
.lite-aside {
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
  border: 0.1px solid var(--very-dark-blue);
}
.dark-aside {
  background-color: var(--very-dark-grayish-blue);
  color: var(--very-light-grayish-blue);
  border: 0.1px solid var(--very-light-grayish-blue);
}
#aside-clear:hover {
  cursor: pointer;
}
/* Nav ************************/
nav {
  grid-area: four;
  width: 100%;
  border-radius: 0.5rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: bolder;
}
.lite-nav {
  background-color: var(--very-light-gray);
  color: var(--dark-grayish-blue);
  border: 0.1px solid var(--very-dark-blue);
}
.dark-nav {
  background-color: var(--very-dark-grayish-blue);
  color: var(--very-light-grayish-blue);
  border: 0.1px solid var(--very-light-grayish-blue);
}
nav div {
  cursor: pointer;
}
#nav-all {
  color: var(--bright-blue);
}
/* Footer ************************/
footer {
  grid-area: five;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  gap: 0.5rem;
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
  font-size: 0.8rem;
  background-color: var(--very-light-grayish-blue);
  color: var(--dark-grayish-blue);
}
#foo-div {
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}
a {
  color: hsl(228, 45%, 44%);
}
a:hover {
  color: hsl(240, 100%, 20%);
  transform: scale(1.1);
}
/* Media Queries ************************/
@media (min-width: 500px) {
  main {
    width: 475px;
  }
}
@media (min-width: 600px) {
  main {
    width: 570px;
  }
}
